@import url('https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css');
@font-face {
  font-family: 'chicago';
  src: url('/fonts/Chicago.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'geneva';
  src: url('/fonts/Geneva.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'monaco';
  src: url('/fonts/Monaco.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'silver';
  src: url('/fonts/Silver.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'lanaPixel';
  src: url('/fonts/LanaPixel.ttf') format('truetype');
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border m-0 p-0 select-none;
}

body {
  @apply flex w-screen h-screen;
  @apply overflow-hidden;
}

.scrollable {
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

td {
  @apply px-2;
}

/* markdown styles */

.markdown {
  @apply tracking-normal leading-8;
}

.markdown li {
  @apply relative py-px;
}

.markdown ul > li {
  @apply pl-3 before:content-['-'] before:absolute before:left-0;
}

.markdown ol > li {
  @apply pl-1 ml-3 list-decimal;
}

.markdown ul ul {
  @apply py-0;
}

.markdown h2 {
  @apply mt-6 mb-2 border-b border-zinc-950 font-medium font-chicago text-3xl tracking-tighter;
}

.markdown h3 {
  @apply mt-4 text-3xl;
}

.markdown h4 {
  @apply pt-4 text-lg;
}

.markdown strong {
  @apply font-medium;
}

.markdown code {
  @apply inline-block h-5 px-1.5 rounded-lg bg-zinc-200 font-normal font-silver;
}
