@import url('https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css');
@font-face {
  font-family: 'chicago';
  src: url('@/fonts/Chicago.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'geneva';
  src: url('@/fonts/Geneva\ 9.2.ttf') format('truetype');
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border m-0 p-0;
}

body {
  @apply bg-zinc-300;
  background-image: radial-gradient(circle, #000000 0.5px, transparent 0.5px),
    radial-gradient(circle, #000000 0.5px, transparent 0.5px);
  background-size: 3px 3px;
  background-position: 0 0, 1.5px 1.5px;
}
