@import url('https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css');
@font-face {
  font-family: 'chicago';
  src: url('/fonts/Chicago.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'geneva';
  src: url('/fonts/Geneva.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'monaco';
  src: url('/fonts/Monaco.ttf') format('truetype');
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border m-0 p-0;
}

body {
  @apply w-screen h-screen flex;
}
